    <ul class="bookslist ifie">
     <li class="testament old"><a href="#" title="Thuciam Lui">{@Old Testament}</a>
        <ul>
            <li class="catalog law"><a href="{@www}">Law</a>
                <ul>
                  <li class="bs5 ifie"><a href="{@www Genesis}">{@Genesis}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Exodus}">{@Exodus}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Leviticus}">{@Leviticus}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Numbers}">{@Numbers}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Deuteronomy}">{@Deuteronomy}</a></li> 
                </ul> 
            </li>   
            <li class="catalog history"><a href="{@www}">History</a>       
                <ul>           
                  <li class="bs5 ifie"><a href="{@www Joshua}">{@Joshua}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Judges}">{@Judges}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Ruth}">{@Ruth}</a></li> 
                  <li class="bs5 ifie"><a href="{@www 1 Samuel}">{@1 Samuel}</a></li> 
                  <li class="bs5 ifie"><a href="{@www 2 Samuel}">{@2 Samuel}</a></li> 
                  <li class="bs5 ifie"><a href="{@www 1 Kings}">{@1 Kings}</a></li> 
                  <li class="bs5 ifie"><a href="{@www 2 Kings}">{@2 Kings}</a></li> 
                  <li class="bs5 ifie"><a href="{@www 1 Chronicles}">{@1 Chronicles}</a></li> 
                  <li class="bs5 ifie"><a href="{@www 2 Chronicles}">{@2 Chronicles}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Ezra}">{@Ezra}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Nehemiah}">{@Nehemiah}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Esther}">{@Esther}</a></li> 
                </ul> 
            </li>           
            <li class="catalog poetry"><a href="{@www}">Poetry</a>      
                <ul>           
                  <li class="bs5 ifie"><a href="{@www Job}">{@Job}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Psalms}">{@Psalms}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Proverbs}">{@Proverbs}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Ecclesiastes}">{@Ecclesiastes}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Song of Solomon}">{@Song of Solomon}</a></li> 
                </ul> 
            </li>        
            <li class="catalog prophecy"><a href="{@www}">Prophecy: Major Prophets</a>       
                <ul>           
                  <li class="bs5 ifie"><a href="{@www Isaiah}">{@Isaiah}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Jeremiah}">{@Jeremiah}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Lamentations}">{@Lamentations}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Ezekiel}">{@Ezekiel}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Daniel}">{@Daniel}</a></li> 
                </ul>
            </li>        
            <li class="catalog prophecy"><a href="{@www}">Prophecy: Minor Prophets</a>        
                <ul>           
                  <li class="bs5 ifie"><a href="{@www Hosea}">{@Hosea}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Joel}">{@Joel}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Amos}">{@Amos}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Obadiah}">{@Obadiah}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Jonah}">{@Jonah}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Micah}">{@Micah}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Nahum}">{@Nahum}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Habakkuk}">{@Habakkuk}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Zephaniah}">{@Zephaniah}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Haggai}">{@Haggai}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Zechariah}">{@Zechariah}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Malachi}">{@Malachi}</a></li>
                </ul>  
            </li>   
        </ul>
     </li>
     <li class="testament new"><a href="#" title="Thuciam Thak">{@New Testament}</a>
        <ul>    
            <li class="catalog gospels"><a href="{@www}">Gospels</a>    
                <ul>
                  <li class="matthai bs5 ifie"><a href="{@www Matthew}">{@Matthew}</a></li> 
                  <li class="marka bs5 ifie"><a href="{@www Mark}">{@Mark}</a></li> 
                  <li class="luka bs5 ifie"><a href="{@www Luke}">{@Luke}</a></li> 
                  <li class="johan bs5 ifie"><a href="{@www John}">{@John}</a></li> 
                </ul> 
            </li>     
            <li class="catalog historical"><a href="{@www}">Historical</a>      
                <ul>           
                  <li class="sawltak-tangthu bs5 ifie"><a href="{@www Acts}">{@Acts}</a></li> 
                </ul> 
            </li>        
            <li class="catalog doctrinal"><a href="{@www}">Doctrinal: Gentiles</a>          
                <ul>           
                  <li class="bs5 ifie"><a href="{@www Romans}">{@Romans}</a></li> 
                  <li class="bs5 ifie"><a href="{@www 1 Corinthians}">{@1 Corinthians}</a></li> 
                  <li class="bs5 ifie"><a href="{@www 2 Corinthians}">{@2 Corinthians}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Galatians}">{@Galatians}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Ephesians}">{@Ephesians}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Philippians}">{@Philippians}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Colossians}">{@Colossians}</a></li> 
                  <li class="bs5 ifie"><a href="{@www 1 Thessalonians}">{@1 Thessalonians}</a></li> 
                  <li class="bs5 ifie"><a href="{@www 2 Thessalonians}">{@2 Thessalonians}</a></li> 
                </ul> 
            </li>        
            <li class="catalog doctrinal"><a href="{@www}">Doctrinal: Individuals</a>          
                <ul>           
                  <li class="bs5 ifie"><a href="{@www 1 Timothy}">{@1 Timothy}</a></li> 
                  <li class="bs5 ifie"><a href="{@www 2 Timothy}">{@2 Timothy}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Titus}">{@Titus}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Philemon}">{@Philemon}</a></li> 
                </ul> 
            </li>          
            <li class="catalog doctrinal"><a href="{@www}">Doctrinal: The Jews</a>           
                <ul>           
                  <li class="bs5 ifie"><a href="{@www Hebrews}">{@Hebrews}</a></li> 
                </ul> 
            </li>        
            <li class="catalog doctrinal"><a href="{@www}">Doctrinal: General Espitles</a>           
                <ul>           
                  <li class="bs5 ifie"><a href="{@www James}">{@James}</a></li> 
                  <li class="bs5 ifie"><a href="{@www 1 Peter}">{@1 Peter}</a></li> 
                  <li class="bs5 ifie"><a href="{@www 2 Peter}">{@2 Peter}</a></li> 
                  <li class="bs5 ifie"><a href="{@www 1 John}">{@1 John}</a></li> 
                  <li class="bs5 ifie"><a href="{@www 2 John}">{@2 John}</a></li> 
                  <li class="bs5 ifie"><a href="{@www 3 John}">{@3 John}</a></li> 
                  <li class="bs5 ifie"><a href="{@www Jude}">{@Jude}</a></li>          
                  <li class="bs5 ifie"><a href="{@www Revelation}">{@Revelation}</a></li>
                </ul>     
           </li>   
        </ul>
     </li>
    </ul>