    <ul class="bookslist bs10 ifie">
     <li class="testament old"><a href="#" title="Thuciam Lui">{@Old Testament}</a>
        <ul class="ifie bs10">
            <li class="sol"><a href="{@www Genesis}">{@Genesis}</a></li> 
            <li><a href="{@www Exodus}">{@Exodus}</a></li> 
            <li><a href="{@www Leviticus}">{@Leviticus}</a></li> 
            <li><a href="{@www Numbers}">{@Numbers}</a></li> 
            <li><a href="{@www Deuteronomy}">{@Deuteronomy}</a></li> 
  
            <li><a href="{@www Joshua}">{@Joshua}</a></li> 
            <li><a href="{@www Judges}">{@Judges}</a></li> 
            <li><a href="{@www Ruth}">{@Ruth}</a></li> 
            <li><a href="{@www 1 Samuel}">{@1 Samuel}</a></li> 
            <li><a href="{@www 2 Samuel}">{@2 Samuel}</a></li> 
            <li><a href="{@www 1 Kings}">{@1 Kings}</a></li> 
            <li><a href="{@www 2 Kings}">{@2 Kings}</a></li> 
            <li><a href="{@www 1 Chronicles}">{@1 Chronicles}</a></li> 
            <li><a href="{@www 2 Chronicles}">{@2 Chronicles}</a></li> 
            <li><a href="{@www Ezra}">{@Ezra}</a></li> 
            <li><a href="{@www Nehemiah}">{@Nehemiah}</a></li> 
            <li><a href="{@www Esther}">{@Esther}</a></li> 

            <li><a href="{@www Job}">{@Job}</a></li> 
            <li><a href="{@www Psalms}">{@Psalms}</a></li> 
            <li><a href="{@www Proverbs}">{@Proverbs}</a></li> 
            <li><a href="{@www Ecclesiastes}">{@Ecclesiastes}</a></li> 
            <li><a href="{@www Song of Solomon}">{@Song of Solomon}</a></li> 
  
            <li><a href="{@www Isaiah}">{@Isaiah}</a></li> 
            <li><a href="{@www Jeremiah}">{@Jeremiah}</a></li> 
            <li><a href="{@www Lamentations}">{@Lamentations}</a></li> 
            <li><a href="{@www Ezekiel}">{@Ezekiel}</a></li> 
            <li><a href="{@www Daniel}">{@Daniel}</a></li> 

            <li><a href="{@www Hosea}">{@Hosea}</a></li> 
            <li><a href="{@www Joel}">{@Joel}</a></li> 
            <li><a href="{@www Amos}">{@Amos}</a></li> 
            <li><a href="{@www Obadiah}">{@Obadiah}</a></li> 
            <li><a href="{@www Jonah}">{@Jonah}</a></li> 
            <li><a href="{@www Micah}">{@Micah}</a></li> 
            <li><a href="{@www Nahum}">{@Nahum}</a></li> 
            <li><a href="{@www Habakkuk}">{@Habakkuk}</a></li> 
            <li><a href="{@www Zephaniah}">{@Zephaniah}</a></li> 
            <li><a href="{@www Haggai}">{@Haggai}</a></li> 
            <li><a href="{@www Zechariah}">{@Zechariah}</a></li> 
            <li><a href="{@www Malachi}">{@Malachi}</a></li> 
        </ul>
     </li>
     <li class="testament new"><a href="#" title="Thuciam Thak">{@New Testament}</a>
        <ul class="ifie bs10">    
            <li class="sol"><a href="{@www Matthew}">{@Matthew}</a></li> 
            <li><a href="{@www Mark}">{@Mark}</a></li> 
            <li><a href="{@www Luke}">{@Luke}</a></li> 
            <li><a href="{@www John}">{@John}</a></li> 

            <li><a href="{@www Acts}">{@Acts}</a></li> 
  
            <li><a href="{@www Romans}">{@Romans}</a></li> 
            <li><a href="{@www 1 Corinthians}">{@1 Corinthians}</a></li> 
            <li><a href="{@www 2 Corinthians}">{@2 Corinthians}</a></li> 
            <li><a href="{@www Galatians}">{@Galatians}</a></li> 
            <li><a href="{@www Ephesians}">{@Ephesians}</a></li> 
            <li><a href="{@www Philippians}">{@Philippians}</a></li> 
            <li><a href="{@www Colossians}">{@Colossians}</a></li> 
            <li><a href="{@www 1 Thessalonians}">{@1 Thessalonians}</a></li> 
            <li><a href="{@www 2 Thessalonians}">{@2 Thessalonians}</a></li> 
    
            <li><a href="{@www 1 Timothy}">{@1 Timothy}</a></li> 
            <li><a href="{@www 2 Timothy}">{@2 Timothy}</a></li> 
            <li><a href="{@www Titus}">{@Titus}</a></li> 
            <li><a href="{@www Philemon}">{@Philemon}</a></li> 
  
            <li><a href="{@www Hebrews}">{@Hebrews}</a></li> 
   
            <li><a href="{@www James}">{@James}</a></li> 
            <li><a href="{@www 1 Peter}">{@1 Peter}</a></li> 
            <li><a href="{@www 2 Peter}">{@2 Peter}</a></li> 
            <li><a href="{@www 1 John}">{@1 John}</a></li> 
            <li><a href="{@www 2 John}">{@2 John}</a></li> 
            <li><a href="{@www 3 John}">{@3 John}</a></li> 
            <li><a href="{@www Jude}">{@Jude}</a></li>          
            <li><a href="{@www Revelation}">{@Revelation}</a></li>
        </ul>
     </li>
    </ul>