<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{@title}</title>	
    <meta name="keywords" content="{@keywords}" />
    <meta name="Description" content="{@Description}" />
    <meta name="developer" content="{@author}" />
    <meta name="note" content="This version is based on MK2 P.T.F." />
	<link rel="Shortcut Icon" type="image/x-png" href="{@template.directory}images/logo_favicon.png" />	
    <link rel="image_src" href="{@template.directory}images/laisiangtho.png" />
    <script type="text/javascript" src="{@template.directory}js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="{@template.directory}js/layout.js"></script>
	<style type="text/css">
    @font-face {
      font-family: "Padauk";
      src: url("http://www.myordbok.com/fontsmyanmar/primary/Padauk.eot");
      src: local("Padauk"), url("http://www.myordbok.com/fontsmyanmar/primary/Padauk.ttf") format("truetype");
    }
    </style>    
	<link href='http://fonts.googleapis.com/css?family=Nova+Cut' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Convergence' rel='stylesheet' type='text/css'>
    <link href="{@template.directory}css/layout.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]>
        <link href="{@template.directory}css/ie.css" rel="stylesheet" type="text/css" />
    <![endif]--> 
    <link rel="stylesheet" href="{@www}language/{@CurrentSil}/language.css" type="text/css" media="screen" />  
	<script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18644721-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>         
</head>
<body id="{@PageID}" class="{@PageClass} {@CurrentSil}">
{@bar}{@header}{@search}{@windows}{@content}{@footer}{@speechplayer}
</body>
</html>