<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>title</title>
	<script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="js/layout.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Redressed' rel='stylesheet' type='text/css'>
    <link href="css/layout.css" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <link href="css/ie.css" rel="stylesheet" type="text/css" />
    <![endif]--> 
</head>

<body>
<div class="zolai">

    <div id="bar" class="portal">
        <div class="resize">
            <div class="wrapper">
            	<a href="#" class="logo"><img src="images/laisiangtho.png" alt="laisiangtho"></a>
                <form method="post" action="#" name="keysearch">
                    <div class="main">
                        <input type="text" name="search" value="" class="bs10 ifie" />      
                        <input type="submit" value="Search" class="bs10 ifie" />
                    </div>
                    <div class="options">
                        <div class="ver bs10 ifie" ref="version">Select Bible</div>
                        <div class="ver bs10 ifie" ref="advanced">Advanced Search</div>
                    </div>    
                    <div class="version rc2 bs ifie">
                        <div class="share">
                            <input type="checkbox" name="bibleVersion[]" value="kjv" id="kjv" checked="checked">
                            <label for="kjv">KING JAMES VERSION</label>
                        </div>        
                        <div class="share">        
                            <input type="checkbox" name="bibleVersion[]" value="ylt" id="ylt" >
                            <label for="ylt">YOUNG'S LITERAL TRANSLATION</label>
                        </div>
                        <div class="share">        
                            <input type="checkbox" name="bibleVersion[]" value="ted" id="ted" >
                            <label for="ted">Tedim Laisiangtho</label>
                        </div>         
                        <div class="share">        
                            <input type="checkbox" name="bibleVersion[]" value="Json" id="Json" >
                            <label for="Json">Myanmar (Json)</label>
                        </div>    
                        <div class="share">        
                            <input type="checkbox" name="bibleVersion[]" value="nor" id="nor" >
                            <label for="nor">Den Norsk Bibel</label>
                        </div>              
                    </div>
                    
                    <div class="advanced rc2 bs ifie">
                        <div class="share type">
                            <input id="casesensitive" type="checkbox" name="casesensitive" value="yes" /> 
                            <label for="casesensitive">CaseSensitive</label> 
                            <select name="searchtype" >
                                <option value="all" selected="selected" >Match ALL words</option>
                                <option value="any">Match ANY word</option>
                                <option value="phrase">Match EXACT phrase</option>
                                <option value="allInFile">Match ALL words in a chapter</option>
                            </select>                       
                        </div>
                    </div>
                
                    <div class="advanced rc2 bs ifie">
                        <div class="share unlimit">
                            <input type="radio" name="limit" value="none" id="limit-none"  checked="checked" >
                            <label for="limit-none">Search entire Bible </label>
                        </div>
                    </div>   
                
                    <div class="advanced rc2 bs ifie">
                        <div class="share bookset">
                            <input type="radio" name="limit" value="bookset" id="limit-bookset" />
                            <label for="limit-bookset">Limit search to</label>
                            <select name="bookset" id="limit-bookset-dropdown"  >
                                <option value="11">Apocalyptic Books</option>
                                <option value="3">Books of Moses</option>
                                <option value="9">Epistles</option>
                                <option value="4">Gospels</option>
                                <option value="8">Historical Books</option>
                                <option value="5">Major Prophets</option>
                                <option value="6">Minor Prophets</option>
                                <option value="2">New Testament</option>
                                <option value="1">Old Testament</option>
                                <option value="10">Pauline Epistles</option>
                                <option value="7">Wisdom Books</option>
                            </select>            
                        </div>
                    </div>        
                
                    <div class="advanced rc2 bs ifie">     
                
                        <div class="share limited">
                            <input type="radio" name="limit" value="span" id="limit-span" />
                            <label for="limit-span">Search from</label>
                            <select name="spanbegin" id="limit-span-begin" >
                                <option value="1" selected="selected" >Genesis</option>
                                <option value="2">Exodus</option>
                                <option value="3">Leviticus</option>
                                <option value="4">Numbers</option>
                                <option value="5">Deuteronomy</option>
                                <option value="6">Joshua</option>
                                <option value="7">Judges</option>
                                <option value="8">Ruth</option>
                                <option value="9">1 Samuel</option>
                                <option value="10">2 Samuel</option>
                                <option value="11">1 Kings</option>
                                <option value="12">2 Kings</option>
                                <option value="13">1 Chronicles</option>
                                <option value="14">2 Chronicles</option>
                                <option value="15">Ezra</option>
                                <option value="16">Nehemiah</option>
                                <option value="17">Esther</option>
                                <option value="18">Job</option>
                                <option value="19">Psalm</option>
                                <option value="20">Proverbs</option>
                                <option value="21">Ecclesiastes</option>
                                <option value="22">Song of Solomon</option>
                                <option value="23">Isaiah</option>
                                <option value="24">Jeremiah</option>
                                <option value="25">Lamentations</option>
                                <option value="26">Ezekiel</option>
                                <option value="27">Daniel</option>
                                <option value="28">Hosea</option>
                                <option value="29">Joel</option>
                                <option value="30">Amos</option>
                                <option value="31">Obadiah</option>
                                <option value="32">Jonah</option>
                                <option value="33">Micah</option>
                                <option value="34">Nahum</option>
                                <option value="35">Habakkuk</option>
                                <option value="36">Zephaniah</option>
                                <option value="37">Haggai</option>
                                <option value="38">Zechariah</option>
                                <option value="39">Malachi</option>
                                <option value="40">Matthew</option>
                                <option value="41">Mark</option>
                                <option value="42">Luke</option>
                                <option value="43">John</option>
                                <option value="44">Acts</option>
                                <option value="45">Romans</option>
                                <option value="46">1 Corinthians</option>
                                <option value="47">2 Corinthians</option>
                                <option value="48">Galatians</option>
                                <option value="49">Ephesians</option>
                                <option value="50">Philippians</option>
                                <option value="51">Colossians</option>
                                <option value="52">1 Thessalonians</option>
                                <option value="53">2 Thessalonians</option>
                                <option value="54">1 Timothy</option>
                                <option value="55">2 Timothy</option>
                                <option value="56">Titus</option>
                                <option value="57">Philemon</option>
                                <option value="58">Hebrews</option>
                                <option value="59">James</option>
                                <option value="60">1 Peter</option>
                                <option value="61">2 Peter</option>
                                <option value="62">1 John</option>
                                <option value="63">2 John</option>
                                <option value="64">3 John</option>
                                <option value="65">Jude</option>
                                <option value="66">Revelation</option>
                            </select>  
                            <span>to</span>
                            <select name="spanend" id="limit-span-end" >
                                <option value="1"  >Genesis</option>
                                <option value="2">Exodus</option>
                                <option value="3">Leviticus</option>
                                <option value="4">Numbers</option>
                                <option value="5">Deuteronomy</option>
                                <option value="6">Joshua</option>
                                <option value="7">Judges</option>
                                <option value="8">Ruth</option>
                                <option value="9">1 Samuel</option>
                                <option value="10">2 Samuel</option>
                                <option value="11">1 Kings</option>
                                <option value="12">2 Kings</option>
                                <option value="13">1 Chronicles</option>
                                <option value="14" selected="selected">2 Chronicles</option>
                                <option value="15">Ezra</option>
                                <option value="16">Nehemiah</option>
                                <option value="17">Esther</option>
                                <option value="18">Job</option>
                                <option value="19">Psalm</option>
                                <option value="20">Proverbs</option>
                                <option value="21">Ecclesiastes</option>
                                <option value="22">Song of Solomon</option>
                                <option value="23">Isaiah</option>
                                <option value="24">Jeremiah</option>
                                <option value="25">Lamentations</option>
                                <option value="26">Ezekiel</option>
                                <option value="27">Daniel</option>
                                <option value="28">Hosea</option>
                                <option value="29">Joel</option>
                                <option value="30">Amos</option>
                                <option value="31">Obadiah</option>
                                <option value="32">Jonah</option>
                                <option value="33">Micah</option>
                                <option value="34">Nahum</option>
                                <option value="35">Habakkuk</option>
                                <option value="36">Zephaniah</option>
                                <option value="37">Haggai</option>
                                <option value="38">Zechariah</option>
                                <option value="39">Malachi</option>
                                <option value="40">Matthew</option>
                                <option value="41">Mark</option>
                                <option value="42">Luke</option>
                                <option value="43">John</option>
                                <option value="44">Acts</option>
                                <option value="45">Romans</option>
                                <option value="46">1 Corinthians</option>
                                <option value="47">2 Corinthians</option>
                                <option value="48">Galatians</option>
                                <option value="49">Ephesians</option>
                                <option value="50">Philippians</option>
                                <option value="51">Colossians</option>
                                <option value="52">1 Thessalonians</option>
                                <option value="53">2 Thessalonians</option>
                                <option value="54">1 Timothy</option>
                                <option value="55">2 Timothy</option>
                                <option value="56">Titus</option>
                                <option value="57">Philemon</option>
                                <option value="58">Hebrews</option>
                                <option value="59">James</option>
                                <option value="60">1 Peter</option>
                                <option value="61">2 Peter</option>
                                <option value="62">1 John</option>
                                <option value="63">2 John</option>
                                <option value="64">3 John</option>
                                <option value="65">Jude</option>
                                <option value="66">Revelation</option>
                            </select>                        
                        </div>                         
                    </div>    
                 </form>                
                <div class="menu no ne">
                    <ul class="bs10 ifie">
                        <li class="active"><a href="#">Holy Bible</a></li>
                        <li class="passage"><a href="#">Passage Lookup</a></li>
                    </ul>                                 
                </div>                 
          </div>
        </div>
    </div>


    <div id="content" class="portal">
        <div class="resize">
            <div class="wrapper">
    <ul class="bookslist">
     <li class="testament old"><a href="#" title="Thuciam Lui">Thuciam Lui</a>
        <ul>
            <li class="catalog law"><a href="#readbible">Law</a>
                <ul>
                  <li class="bs5 ifie"><a href="#readbible">Piancilna</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Paikhiatna</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Siampi Laibu</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Gamlak Vakna</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Thu Hilhkikna</a></li> 
                </ul> 
            </li>   
            <li class="catalog history"><a href="#readbible">History</a>       
                <ul>           
                  <li class="bs5 ifie"><a href="#readbible">Joshua</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Thukhente</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Ruth</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Samuel Masa</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Samuel Nihna</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Kumpi Masate</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Kumpi Nihnate</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Khang Tangthu Masa</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Khang Tangthu Nihna</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Ezra</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Nehemiah</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Esther</a></li> 
                </ul> 
            </li>           
            <li class="catalog poetry"><a href="#readbible">Poetry</a>      
                <ul>           
                  <li class="bs5 ifie"><a href="#readbible">Job</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Late</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Paunak</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Thuhilhna</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Solomon La</a></li> 
                </ul> 
            </li>        
            <li class="catalog prophecy"><a href="#readbible">Prophecy: Major Prophets</a>       
                <ul>           
                  <li class="bs5 ifie"><a href="#readbible">Isaiah</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Jeremiah</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Kah La</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Ezekiel</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Daniel</a></li> 
                </ul>
            </li>        
            <li class="catalog prophecy"><a href="#readbible">Prophecy: Minor Prophets</a>        
                <ul>           
                  <li class="bs5 ifie"><a href="#readbible">Hosea</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Joel</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Amos</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Obadiah</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Jonah</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Mikah</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Nahum</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Habakkuk</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Zefaniah</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Haggai</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Zekhariah</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Malakhi</a></li>
                </ul>  
            </li>   
        </ul>
     </li>
     <li class="testament new"><a href="#" title="Thuciam Thak">Thuciam Thak</a>
        <ul>    
            <li class="catalog gospels"><a href="#readbible">Gospels</a>    
                <ul>
                  <li class="matthai bs5 ifie"><a href="#readbible">Matthai</a></li> 
                  <li class="marka bs5 ifie"><a href="#readbible">Marka</a></li> 
                  <li class="luka bs5 ifie"><a href="#readbible">Luka</a></li> 
                  <li class="johan bs5 ifie"><a href="#readbible">Johan</a></li> 
                </ul> 
            </li>     
            <li class="catalog historical"><a href="#readbible">Historical</a>      
                <ul>           
                  <li class="sawltak-tangthu bs5 ifie"><a href="#readbible">Sawltak Tangthu</a></li> 
                </ul> 
            </li>        
            <li class="catalog doctrinal"><a href="#readbible">Doctrinal: Gentiles</a>          
                <ul>           
                  <li class="bs5 ifie"><a href="#readbible">Rom Laikhak</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Korin Masa</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Korin Nihna</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Galati</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Efesa</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Filippi</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Kolose</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Thesalonika Masa</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Thesalonika Nihna</a></li> 
                </ul> 
            </li>        
            <li class="catalog doctrinal"><a href="#readbible">Doctrinal: Individuals</a>          
                <ul>           
                  <li class="bs5 ifie"><a href="#readbible">Timoti Masa</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Timoti Nihna</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Titus</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Filemon</a></li> 
                </ul> 
            </li>          
            <li class="catalog doctrinal"><a href="#readbible">Doctrinal: The Jews</a>           
                <ul>           
                  <li class="bs5 ifie"><a href="#readbible">Hebru</a></li> 
                </ul> 
            </li>        
            <li class="catalog doctrinal"><a href="#readbible">Doctrinal: General Espitles</a>           
                <ul>           
                  <li class="bs5 ifie"><a href="#readbible">James</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Peter Masa</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Peter Nihna</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Johan Masa</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Johan Nihna</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Johan Thumna</a></li> 
                  <li class="bs5 ifie"><a href="#readbible">Jude</a></li>          
                  <li class="bs5 ifie"><a href="#readbible">Maangmuhna</a></li>
                </ul>     
           </li>   
        </ul>
     </li>
    </ul>

          </div>
        </div>
    </div>

    <div id="footer" class="portal">
        <div class="resize">
            <div class="wrapper">

<p>footer</p>
          </div>
        </div>
    </div>    
            
</div>
</body>
</html>



