@charset "utf-8";
/* CSS Document */
* { margin:0; padding:0; }
img { border:none;}
.none { display:none;}
a,input { outline:0; }
.rc{
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.bs{
	-webkit-box-shadow: 0px 0px 10px #c5c5c5;
	-moz-box-shadow: 0px 0px 10px #c5c5c5;
 	-webkit-box-shadow: 0px 0px 10px #c5c5c5;
	box-shadow: 0px 0px 10px #c5c5c5;
}
.bs10{
	-webkit-box-shadow: 0px 0px 10px #666666;
	-moz-box-shadow: 0px 0px 10px #666666;
 	-webkit-box-shadow: 0px 0px 10px #666666;
	box-shadow: 0px 0px 10px #666666;
}
.bs5{
	-webkit-box-shadow: 0px 0px 5px #c5c5c5;
	-moz-box-shadow: 0px 0px 5px #c5c5c5;
 	-webkit-box-shadow: 0px 0px 5px #c5c5c5;
	box-shadow: 0px 0px 5px #c5c5c5;
}
.rc3{
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.rc2{
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

body { font-family: Arial, Helvetica, sans-serif; font-size: 12px; background-color: #DADAD8; padding:0; margin:0; }
body #zolai{ float:left; width:100%;position:relative; }
.portal {float:left; width:100%;position:relative; }
.portal .resize{ display:block; width:100%; margin:0 auto; position:relative; }
.portal .resize .wrapper{ float:left; width:100%;position:relative; }

/*BAR*/
#bar { padding:0; border-bottom:1px solid #d6d6d3; background-color: #dbdbd9; z-index:2;}
#bar .resize .wrapper .logo { float:left; width:auto; margin-top:7px;}
#bar .resize .wrapper .logo img { }

#bar .resize .wrapper .menu { float:right; width:auto; position:relative; padding-top:10px;}
#bar .resize .wrapper .menu ul { border-radius:50px; position:relative;float:left; list-style:none; width:auto; margin:0; background-color: #F5F5F5; }
#bar .resize .wrapper .menu ul li { float:left; width:135px; margin:0; padding:0; border-right:1px solid #B9B9B9;position:relative;  }
#bar .resize .wrapper .menu ul li a { float:left; width:90%; height:16px; padding:11px 5%; margin:0;color: #808080; text-decoration: none; font-size: 13px; text-align: center; }

#bar .resize .wrapper .menu ul li.testament.new {border:none;}
#bar .resize .wrapper .menu ul li ul {display:none; border-radius:0px;}
#bar .resize .wrapper .menu ul li:hover ul { display: block; position:absolute; width:242px; padding:1px 0; top:40px;border:1px solid #D7D7D7; background-color: #F5F5F5; }
#bar .resize .wrapper .menu ul li:hover a { color: #900; }
#bar .resize .wrapper .menu ul li a:hover { color: #900; }

#bar .resize .wrapper .menu ul li.testament ul li { display: block; top:-7px; width:100%; padding:0; border:none; }
#bar .resize .wrapper .menu ul li.testament ul li.sol { padding-top:15px; top:-7px}
#bar .resize .wrapper .menu ul li.testament ul li a { padding:1% 5%; font-size: 12px; text-align:left; color: #808080;}
#bar .resize .wrapper .menu ul li.testament ul li a:hover { color: #900; background-color: #E2E2E2;}
#bar .resize .wrapper .menu ul li.testament.old ul { left:15px;}
#bar .resize .wrapper .menu ul li.testament.new ul { right:12px;}

.judson #bar .resize .wrapper .menu ul li a { height:19px; padding:9px 5%; }
.judson #bar .resize .wrapper .menu ul li:hover ul { }

.judson #bar .resize .wrapper .menu ul li a {font-size: 16px; }
.judson #bar .resize .wrapper .menu ul li.testament ul li a {font-size: 14px;  }
.kjv #bar .resize .wrapper .menu ul li.testament ul li a,
.tedim #bar .resize .wrapper .menu ul li.testament ul li a { }

/*SEARCH FORM*/
form[name="keysearch"] { float:left; position:relative; width:50%; margin:7px 0 0 1px; }
form[name="keysearch"] div { float:left; position:relative; }
form[name="keysearch"] input { float:left; position:relative; border:none;}
form[name="keysearch"] .main { width:100%; margin-top:7px;}
form[name="keysearch"] .main input{ width:75%; height: 20px; padding:5px 5px; color: #666;border-radius:2px; }
form[name="keysearch"] .main input[type="submit"]{ float:right; width:20%; height:30px; padding:7px 15px; margin-left:3px; border-radius:4px; color: #999; }
form[name="keysearch"] .options { width:100%; height:20px; margin-top:5px; }
form[name="keysearch"] .options div { width:auto; border-radius:50px; cursor:pointer; background-color: #dbdbd9; padding:1px 7px; margin:1px 4px; color: #666; font-size: 11px; }
form[name="keysearch"] .options div.active{ background-color: #FFF; color: #666; }
form[name="keysearch"] .version { width:100%; margin:2px 0; background-color: #dbdbd9; display:none; }
form[name="keysearch"] .version div{ width:96%; padding:5px 2%;}
form[name="keysearch"] .passagelookup,
form[name="keysearch"] .advanced { width:100%; margin:2px 0; background-color: #dbdbd9; display:none;}
form[name="keysearch"] .advanced .share { width:96%; padding:5px 2%; overflow:hidden;}

form[name="keysearch"] .version .share input, form[name="keysearch"] .version .share label { border:none; }
form[name="keysearch"] .version .share input{ margin:3px 2px; }
form[name="keysearch"] .version .share label{ float:left; margin:1px 7px; color: #999; font-size: 15px; }

form[name="keysearch"] .advanced .share input, form[name="keysearch"] .advanced .share span, form[name="keysearch"] .advanced .share label,
form[name="keysearch"] .advanced .share select{ padding:3px 4px; border:none; }
form[name="keysearch"] .advanced .share input{ margin:10px;}
form[name="keysearch"] .advanced .share label{ float:left; padding:3px 4px 3px 7px; color: #900; }
form[name="keysearch"] .advanced .share span { float:left; padding:3px 1px 3px 10px; color: #900; }
form[name="keysearch"] .advanced .share select{ float:right; width: 50%; background-color: #EFEFEF; color: #666; }
form[name="keysearch"] .advanced .share input[type="radio"],
form[name="keysearch"] .advanced .share input[type="checkbox"] { margin:4px 0; padding:0;}

form[name="keysearch"] .advanced .share.limited select { float:left; width: 30%;}
form[name="keysearch"] .advanced .share.limited select#limit-span-end { float:right;}

form[name="keysearch"] .advanced .share.unlimit label,
form[name="keysearch"] .advanced .share.bookset label,
form[name="keysearch"] .advanced .share.limited label { font-size: 15px; color: #999; }

form[name="keysearch"] .passagelookup .share p { padding:7px 20px; font-size: 15px;  }
form[name="keysearch"] .passagelookup .share p span { font-size: 13px; color: #818181; }
form[name="keysearch"] .passagelookup .share p a { color: #333; text-decoration: none; }
form[name="keysearch"] .passagelookup .share p a:hover { color: #600; }

#search { z-index:1; height:1px; background-color: #E1E1E1; }
#search .resize .wrapper .message{ float:left; width:38%; position: absolute; top:150%; margin:0 30%; padding:2% 1%; color: #900; background-color: #CACACA; font-size: 19px; }
#search .resize .wrapper ul.bookslist{ background-color: #f4f4f3; width:94%; margin: 4% 3%;}
.currentChapter{ float:left; width:96%; margin:auto 2%; position:relative; color: #900; }
.currentChapter ul{ float:left; width:100%; display:inline; list-style:none; }
.currentChapter ul li{ float:left; padding:0; margin:0 2px; background-color: #E4E4E4; border-radius:2px; position:relative; border: 1px solid #D1D1D1; }
.currentChapter ul li a, .currentChapter ul li span{ position: relative; display:block; padding:5px 8px; margin:0; text-decoration: none;  z-index:5;}
.currentChapter ul li a { color: #666; }

.currentChapter ul li:hover a{ background-color: #E4E4E4; padding:5px 7px; margin:0 1px;}
.currentChapter ul li:hover span{ background-color: #E4E4E4; padding:5px 7px; margin:0 1px;}
.currentChapter ul li ul{ display:none;  }


.currentChapter ul li:hover ul{display:inline; position:absolute; top:24px; padding:2px 0; margin:0; background-color: #E4E4E4; border: 1px solid #D1D1D1; z-index:4; }
.currentChapter ul li ul li{ display:block; width:100%; border-radius:0; margin:0; padding:0; border:none;}
.currentChapter ul li ul li.active{  }
.currentChapter ul li ul li.active a{ color: #900; }

.currentChapter ul li.chapters ul { width: 450px; }
.currentChapter ul li.chapters ul li { width:96%;  margin:0; }
.currentChapter ul li.chapters ul li.cap { text-align:right; font-size: 11px; color: #666; padding:0 2%;}
.currentChapter ul li.chapters ul li.chapter { padding:1% 2%; }
.currentChapter ul li.chapters ul li.chapter a{ float:left; color: #666; display: inline; width: 7%; padding:6px 1%; margin:1px 1px; text-align: center; border: 1px solid #CCC; background-color: #F3F3F3; border-radius:2px; }
.currentChapter ul li.chapters ul li.chapter a:hover{ background-color: #E4E4E4; }
.currentChapter ul li.chapters ul li.chapter a.active{ background-color: #E5E5E5; }
.currentChapter ul li.parable:hover { background-color: #D1D1D1; }

.currentChapter ul li.books ul {  width:570px; }
.currentChapter ul li.books ul li  { border:none;}
.currentChapter ul li.books ul li ul { position:relative; width:265px; border:none;}
/*
.currentChapter ul li{ float:left; padding:5px 0; margin:0 2px; background-color: #E4E4E4; border-radius:2px; position:relative; border: 1px solid #D1D1D1; }
.currentChapter ul li ul{ display:none;  }
.currentChapter ul li.parable:hover { background-color: #D1D1D1; }
.currentChapter ul li:hover a { position: relative; padding:7px 0; background-color: #e9e9e9; z-index:5;}
.currentChapter ul li:hover ul{display:inline;  position:absolute; left:-1px; top:25px; padding:0; margin:0; border: 1px solid #D1D1D1;z-index:4; }
.currentChapter ul li ul li{ display:block; width:100%; border-radius:0; margin:0; padding:0; border:none;}
.currentChapter ul li ul li a{ display:block; padding:7% 9px; text-transform: uppercase; font-size: 12px; }
.currentChapter ul li ul li.active{  }
.currentChapter ul li ul li.active a{ color: #900; }
.currentChapter ul li a{ color: #999; text-decoration: none; top:0; left:0; }
*/

.currentChapter ul li.nav{ float:right; }
.currentChapter ul li.nav a { float:left; text-align: center; }
.currentChapter ul li.nav a.num { width: 50px; background-color: #F5F5F5;}

.widgets { float:right; width:10%; }
.widgets ul.parables{ float:left; width:98%; margin:2px 1%; list-style:none;  }
.widgets li{ display:block; padding:2% 7%;}
.widgets li a{ text-transform: uppercase; color: #333; text-decoration: none; }
.widgets li.title{ color: #333; background-color: #CCC; }
.widgets li.active{}
.widgets li.active a{ color: #CCC; }

#content {z-index:0; padding:1% 0; background-image: url(../images/bg-gra.png); background-repeat: repeat-x; background-position: left top; background-color: #f4f4f3;}
#footer { border-top:1px solid #D2D2D0; padding:2% 0;}

.language { float:right; width:100%;}
.language a { float:left; padding:2% 5%; margin:1% 1%; color: #666; background-color: #EAEAEA; text-decoration: none; border-radius:2px; font-size: 12px; }
.language a.current { color: #527fc0; }

/*SEARCH RESULTS*/
.bible { float:left; width:98%; margin:0; padding:1px 1%; color: #666;}
.bible div { float:left; padding:0;}
.bible .version { width:67%; margin:2px 1%; }/*48*/
.bible.wise2 .version { width:48%; margin:2px 1%; }
.bible.wise3 .version { width:31.3%; margin:2px 1%; }
.bible.wise4 .version { width:23%; margin:2px 1%; }
.bible.wise5 .version { width:18%; margin:2px 1%; }
.bible .version div{ width:98%; margin:2px 1%;}
.bible .version h2{ padding:1px 1%; }
.bible .version h2 strong{ float:left;}
.bible .version h2 span{ float:right; font-weight: normal; color: #600; font-size: 13px; padding-top:5px; }
.bible .version div{ }
.bible .version .book{}
.bible .version .book h3{padding:10px 1%;}
.bible .version .book .chapter{ margin:2% auto;}
.bible .version .book .chapter h4{padding:1px 2%;}
.bible .version .book .chapter .verse{padding:1px 1%; }
.bible .version .book .chapter .verse span,
.bible .version .book .chapter .verse p{ float:left;}
.bible .version .book .chapter .verse span{ width:10%; margin-right:1%; text-align:right; color: #900; }
.bible .version .book .chapter .verse p{ width:89%; color: #333; }
.bible .version .book .chapter .verse p em{ color: #C00; font-style: normal; }

.bible.wise4 .version h2{ font-size: 12px; height:20px; }
.bible.wise4 .version h2 span { display:none; }
.bible.wise5 .version h2{ font-size: 11px; height:20px;}
.bible.wise5 .version h2 span { display:none; }
/*JUDSON*/

.bible .version.judson { font-family: Padauk; color: #330; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; text-transform: none; }
.bible .version.judson div{ }
.bible .version.judson h2{ font-size: 1.1em; font-weight: normal; }
.bible .version.judson h2 strong { font-weight: normal; }
.bible .version.judson div{ }
.bible .version.judson .book{}
.bible .version.judson .book h3{ font-size: 1.4em; font-weight: normal; padding:0 1%;}
.bible .version.judson .book .chapter{ }
.bible .version.judson .book .chapter h4{ font-size: 1.3em; font-weight: normal; }
.bible .version.judson .book .chapter .verse{ }
.bible .version.judson .book .chapter .verse{ font-size: 121%; }
.bible .version.judson .book .chapter .verse span,
.bible .version.judson .book .chapter .verse p{ }
.bible .version.judson .book .chapter .verse span{ }
.bible .version.judson .book .chapter .verse p{ }

.bible .version.kjv {font-family: 'Nova Cut', cursive;}
.bible .version.norsk {font-family: 'Convergence', sans-serif;}



/*passage */
form[name="lookup"] { float:right; position: absolute; width:58%; margin:0; padding:7px; right:0; top:0px; z-index:1; }
form[name="lookup"] input{ float:left; position: relative; border:0; }
form[name="lookup"] div { float:left; position:relative; }
form[name="lookup"] input[type="text"]{ width:50%; padding:4px 0; background-color: #FCFCFC; color: #600; }
form[name="lookup"] input[type="submit"],
form[name="lookup"] input[type="button"] { float:right; padding:3px 0; height:24px; font-size: 12px; color: #666; }
form[name="lookup"] input[type="submit"]{ width:14%; background-color: #C4D5E1; color: #900; }
form[name="lookup"] input[type="button"]{ width:16%; margin-left:1%; background-color: #F5F5F5; }
form[name="lookup"] input[type="button"].active{ background-color: #FFF5D9;}

form[name="lookup"] .version,form[name="lookup"] .manual { width:100%; margin:3px 0; background-color: #F5F5F5;}
form[name="lookup"] .version div, form[name="lookup"] .manual div{ width:96%; padding:3px 2%;}

form[name="lookup"] .version .share input, form[name="lookup"] .version .share label { border:none; }
form[name="lookup"] .version .share input{ margin:3px 2px; }
form[name="lookup"] .version .share label{ float:left; margin:1px 7px; color: #999; font-size: 15px; }

/*BOOKS LIST*/
ul.bookslist{ float:left; position:relative; width:100%; margin:0; padding:0;  }
ul.bookslist ul, ul.bookslist li { float:left; position:relative; list-style:none;}
ul.bookslist a { color: #666; text-decoration: none; }
ul.bookslist .testament{  width:42%; padding:1% 1%; margin:1px 1%; }
ul.bookslist .testament.old{}
ul.bookslist .testament.new{  }
ul.bookslist .testament a{ font-size: 17px; color: #333; }
ul.bookslist .testament ul { width:98%; padding:1% 1%;}
ul.bookslist .testament ul .catalog{ width:96%; padding:1% 2%;}
ul.bookslist .testament ul .catalog a{ font-size: 15px; color: #999; }
ul.bookslist .testament ul .catalog ul { width:96%; padding:1% 2%; }
ul.bookslist .testament ul .catalog ul li { width:auto; padding:1% 2%; margin:1% 2px; background-color: #F5F5F5; border-radius:50px; border: 1px solid #CCC; }
ul.bookslist .testament ul .catalog ul li a{ display:block; white-space:nowrap; font-size: 12px; color: #808080; }
ul.bookslist .testament ul .catalog ul li a:hover{ color: #527fc0; }

.judson .portal .resize .wrapper .bookslist a { font-family: Arial, Padauk, "Padauk Book", PadaukOT, sans-serif; }

.judson .portal .resize .wrapper .bookslist .testament ul .catalog ul li a { font-size: 14px; }
/*INSTALLER*/
.installer { background-color: #E0E0E0; }
#install { padding:10px 0; background-color: #C7C7C7; }
#install .resize{ }
#install .resize .wrapper{ background-image: url(../images/laisiangtho.png); background-repeat: no-repeat; background-position: left center; }
#install .resize .wrapper h1{ position:relative; float:left; padding:5px 5px 5px 200px; color: #C00; }
#install .resize .wrapper h1 span{ position:relative; color: #666; font-size: 12px; top:-7px; }
#installation {background-color: #fff; border:1px solid #ccc; border-left:none; border-right:none;}
#installation .resize .wrapper ul.message { float:right; width: 25%; padding:17px 2%; margin:0; }
#installation .resize .wrapper ul.message li{ font-size: 12px; padding: 1px 4px; color: #900; list-style-type: circle; }
#installation .resize .wrapper form {position:relative; float:left; width:66%; padding:5px 2%; margin:0; }
#installation form { }
#installation form input {border: none;}
#installation form h2 { position:relative; float:left; width:100%; padding:7px 7px; margin:0; font-size: 16px; color: #666; }
#installation form h2 span { position:relative; float:left; left:-16px; top:-5px; width:23px; padding:7px 5px; margin:0 4px; background-color: #CCC; text-align: center; color: #333; font-size: 12px; }
#installation form .step{ position:relative; float:left; width:100%; padding:3px 0; margin:3px 0; background-color: #E2E2E2; border: 1px solid #CCC; }
#installation form .step .state{position:relative; float:left; width:98%; padding:5px 1%; margin:0;}
#installation form .step .state .process,
#installation form .step .state .label {position:relative; float:left; padding:0px 2px;}
#installation form .step .state .process{ width:3%; }
#installation form .step .state .process input{ }
#installation form .step .state .label{ float:right;width:95%; margin-left:1px; color: #666; }
#installation form .step .state .label input { padding:2px; -webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px; }
#installation form .step .state .label h3 { padding:0; margin:0; font-weight: normal; color: #999; }
#installation form .step .state .label p { float:left; width:100%; position:relative; padding:1px 0; margin:0; }
#installation form .step .state .label p span { float:left; width:30%; padding:5px; margin:0; position:relative; }
#installation form .step .state .label p input{float:left; width:45%; padding:4px; position:relative;}
#installation form .four .state .label p span {padding:0px 5px;}
#installation form .four .state .label p input{ width:auto; }
#installation form .step .state .label p a{ float:left; position:relative; color: #999; text-decoration: none; }

#installation form .step .state .submit{ float:right; width:80%; padding:7px; color: #666; }
#installation form .step .state .submit input{ float:left; width:auto; padding:7px 15px; margin:7px; color: #CCC; -khtml-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; background-color: #999; }