**/*v[0-9].dart
**/*v[0-9]*.md
**/*v[0-9].rar
**/*v[0-9].json
tmp/
tmp.*
# assets/**
# !assets/fonts
# !assets/psd
# !assets/*-mock.*
# assets/env.json
# assets/bucket.json
assets/*.json
assets/*.db
!assets/env-mock.json
assets/*.zip

# Android
android/key.properties
android/app/google-services.json

# iOS
ios/Runner/Info.plist
ios/Runner/GoogleService-Info.plist

# Android
android/key.properties
android/app/google-services.json

# iOS
ios/Runner/GoogleService-Info.plist

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
