@charset "utf-8";
body,header,footer{ background-color: #f7f7f7; }
input, textarea{-webkit-appearance:none;-webkit-border-radius:0;}
/*
header,footer{background-color:#f6f5f5; }background-color:#FBFBFB;
header{box-shadow:inset 0px -1px 1px 0px #e0e0e0;}
footer{box-shadow:inset 0px 1px 1px 0px #e0e0e0;}
header{border-bottom:1px solid #cccbcb;}
footer{border-top:1px solid #cccbcb; }
header{box-shadow: 0px 1px 1px 0px #d3d2d2;}
footer{box-shadow:inset 0px 1px 1px 0px #d3d2d2;}
*/
header{ box-shadow: inset 0px -1px 0px 0px #e0e0e0; }
footer{box-shadow:inset 0px 1px 0px 0px #e0e0e0;}
header>div,footer>div{ width:100%; }
header div>div>ul>li,footer div>div>ul>li{}
header>div>div>div>span,header>div>div>div>a,footer>div>div>div>span,footer>div>div>div>a{}
/*
    TAB
*/
div.tab>ul{}
div.tab>ul>li>a, .tab>ul>li>span{ display: block; padding: 12px 0; min-height: 20px; color: #B4B4B4;text-shadow: 0px 0px 1px #fff;}
div.tab a:before, div.tab span:before { color: #ABA7A7; }
div.tab .active{ color: #02245F; }
div.tab a.active:before, div.tab span.active:before { color: #fff; text-shadow: 0px 0px 1px #900724; }
div.tab>ul.testament>li{ width: 50%; font-size:90%;}
div.tab>ul.testament>li>span{ font-size:90%;}
div.tab>ul.testament>li:first-child{ }
div.tab>ul.testament>li:last-child{  }
/*
    COMMON
*/
.ico:before, [class^="icon-"]:before, [class*=" icon-"]:before { font-size:110%;}/*font-size:15pt;*/
main{ padding: 0px; }
header>.container{ border-top:1px solid #e1e1e1;  box-shadow: inset 0px 1px 1px 0px #fff; font-size: 11pt; line-height:18pt; width:96%; padding: 10px 2%; text-align: center;color: #868686; }/*#FBFBFB*/
header>.container:empty{ display:none;}
header>.container>span{background-color: #98181A;  }
/*
    BIBLE
*/
.row-bible{ list-style: none; overflow:hidden;}/*margin:2%; box-shadow: 0px 0px 1px 1px #e1e1e1;  border-radius: 2px;*/
.row-bible li{ display: block; border-bottom: 1px solid #e1e1e1; }
.row-bible li:last-child{border-bottom:0px; }
.row-bible li p a{ display: table; width: 100%;}
.row-bible li p a, .row-bible li p span{ display:table-cell;padding:9px auto; position:relative;}
.row-bible li p a{ font-size: 14pt; max-width: 50px; color: #818087; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.row-bible li.now p a{color: #313032;}
.row-bible li p span{width:15px;padding:15px 7px;}
.row-bible li p span:before{vertical-align:middle;color: #ccc;font-size:15pt;}
.row-bible li p span.drag{}
.row-bible li p span.drag:before{font-size:20pt;}
.row-bible li p span.offline{}
.row-bible li p span.offline:before{ color: rgba(161,161,161,0.78); }
/*
.row-bible li p span.offline:before{color: #E4E4E4;text-shadow: 0px 0px 1px #900724; }
*/
.row-bible li.now p span.offline:before{ color:#818087; }
.row-bible li.active p a{color:#BF0914;}
.row-bible li.active p span.offline:before{ color: rgba(191,9,20,0.74); }
.row-bible li.ghost{background-color:#FBFBFB;}
.row-bible li.ui-sortable-helper{box-shadow: 0px 0px 1px 1px #e1e1e1; border: 0px;background-color: #ffffff;}
.row-bible li.ui-sortable-helper p span.drag:before{color:#F30C10;}
/*
BOOK
*/
.data-book>ol{display:block;list-style:none;}
.data-book>ol>li{}
.data-book>ol>li>h1{padding:1% 3%;font-size:150%;color:#C3C3C3;text-shadow:1px 1px 1px #666;}
.data-book>ol>li>ol{}
.data-book>ol>li>ol>li{}
.data-book>ol>li>ol>li>h2{padding:2% 3%;color:#e1e1e1;font-size:80%;text-shadow:1px 1px 1px #fff;}
.data-book>ol>li>ol>li>ol{ position:relative;box-shadow:inset 0px 1px 1px 0px #e1e1e1; margin: 2% 0;}/* box-shadow: 0px 0px 1px 1px #e1e1e1; margin: 2%; border-radius: 2px;*/
.data-book>ol>li>ol>li>ol>li{  display: table;border-bottom: 1px solid #e1e1e1;width:100%;}/*border-bottom: 1px solid #e1e1e1;*/
.data-book>ol>li>ol>li>ol>li:last-child{border-bottom:0;}
.data-book>ol>li>ol>li>ol>li>p{ display:table; width:100%; overflow:hidden;  }
.data-book>ol>li>ol>li>ol>li>p>a, .data-book>ol>li>ol>li>ol>li>p>span{display: table-cell; overflow:hidden;  position:relative;text-overflow:ellipsis; white-space:nowrap; max-width: 60px; }
.data-book>ol>li>ol>li>ol>li>p>a{padding:15px;padding-left:10px; color:#313032; font-size: 14pt;}
.data-book>ol>li>ol>li>ol>li.active>p>a{ color:#BF0914; }
.data-book>ol>li>ol>li>ol>li>p>span{ width:60px; box-shadow: inset 0px 0px 0px 0px #e1e1e1; color: #3B3B3B; text-align:center;}
.data-book>ol>li>ol>li>ol>li>p>span.active{ box-shadow: inset 1px -1px 1px 0px #e1e1e1; border-radius:0 3px 0 3px; color: #98090C; background-color: #FBFBFB;}
/*
hO, list-chapter
*/
ol.list-chapter{  display:table; width:100%; margin:7px auto; text-align:center;}
ol.list-chapter li{ display:inline-block; margin:7px; font-size:12pt;}
ol.list-chapter li a{ display: inline-block; color: #423D3E; padding:12px 3px; min-width: 50px; max-width: 50px; background-color: #fff; border-radius:2px; box-shadow:inset 0px 1px 1px 1px rgba(209,209,209,1); }
ol.list-chapter li a sup{display:inline;font-size:8pt;font-style:normal;color:#CBC7C7;}
ol.list-chapter li.active a {background-color:#c4c2c2;box-shadow:inset 0px 1px 1px 1px rgba(153,150,153,1);}
ol.list-chapter li.active a{color:#E80D11;}
ol.list-chapter li.active a sup{color:#5A5354;}
/*
data-com
*/
.data-com ol{}
.data-com ol li{list-style:none;}
.data-com ol li div{}
.data-com ol li ol{}
.data-com ol li ol li{}
.data-com ol li ol li div{}
.data-com>ol{display:table-cell;}
/*
no result, no book selected
*/
.data-com>ol.deactivate{display:table;height:40vh;margin-top:7vh;width:100%;}
.data-com>ol.deactivate>li{font-size:160%;text-shadow:0px 0px 1px 1px #ccc;color:#D3D3D3;}
.data-com>ol>li{}
.data-com>ol>li>div{}
.data-com>ol>li>div:before, 
.data-com>ol>li>div:after{position:absolute;display:block;pointer-events:none;content:"";width:0px;height:0px;vertical-align:middle;border:solid transparent;}
.data-com>ol>li>div h2{display:inline-block;padding:2%;color:#7F7E7E;font-size:17px;line-height:20px;}
.data-com>ol>li>div{border-bottom:1px solid #ECECEC;border-top:0px solid #ECECEC;padding:0;}
.data-com>ol>li>div:before{border-top-color:#ccc;border-width:5px;left:26px;bottom:-11px;}
.data-com>ol>li>div:after{border-top-color:#fff;border-width:4px;left:27px;bottom:-8px;}
.data-com>ol>li>ol{padding:1% 0px;margin:7px 1%;}
.data-com>ol>li>ol>li{border-left:1px solid #ECECEC;}
.data-com>ol>li>ol>li>div{margin:0;padding:0;}
.data-com>ol>li>ol>li>ol>li>div{margin:1% 0;padding:0;}
.data-com ol>li>div h3,
.data-com ol>li>div h4{ display: inline-block;cursor: default;text-align: center;padding: 4px 7px;background-color: #FFFFFF;font-weight: normal;}
.data-com ol>li>div h3{ left: -1px;margin-right: 7px;min-width: 30px; color: #730505;font-size: 16px;line-height: 20px;box-shadow: 2px 0px 1px 0px rgba(200,200,200,1.00); }
.data-com ol>li>div h4{ min-width:20px;margin-right: 7px;border-radius:2px;color: #7F7E7E;font-size: 14px;line-height: 18px;box-shadow: inset 0px 0px 1px 1px rgba(200,200,200,1.00);}
.data-com ol>li>div h4:before,
.data-com ol>li>div h4:after{position:absolute;display:block;pointer-events:none;content:"";width:0px;height:0px;vertical-align:middle;border:solid transparent;}
.data-com ol>li>div h4:before{border-right-color:#ccc;border-width:5px;left:-9px;bottom:8px;}
.data-com ol>li>div h4:after{border-right-color:#fff;border-width:4px;left:-6px;bottom:9px;}
/*
option
*/
.data-com ol li div ul{display:block;list-style:none;position:absolute;top:2px;right:0;}
.data-com ol li div>ul>li{display:inline-block;margin-right:2px;}
.data-com ol li div>ul>li>span{display:block;padding:4px 2px;box-shadow:inset 0px 0px 0px 0px rgba(200,200,200,1.00);text-transform:uppercase;z-index:1;}
.data-com ol li div>ul>li>span.active:before{color:#D40609;}
.data-com ol li div>ul>li>span,
.data-com ol li div>ul>li>span:after,
.data-com ol li div>ul>li>ul{background-color:rgba(255,255,255,1);border-radius:2px;}
.data-com ol li div>ul>li>ul:before, 
.data-com ol li div>ul>li>ul:after{position:absolute;display:block;pointer-events:none;content:"";width:0px;height:0px;vertical-align:middle;border:solid transparent;}
.data-com ol li div>ul>li>ul:before{border-bottom-color:#ccc;border-width:5px;right:9px;top:-9px;}
.data-com ol li div>ul>li>ul:after{border-bottom-color:#fff;border-width:4px;right:10px;top:-6px;}
.data-com ol li div>ul>li>ul{ width: 150px;top: 30px;right: 0;box-shadow:inset 0px 0px 1px 1px rgba(200,200,200,1.00);padding:2px;z-index: 9999;border-bottom:0px solid #CFCFCF;}
.data-com ol li div>ul>li>ul>li{font-size:11px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;cursor:default;color:#5B5B5B;}
.data-com ol li div>ul>li>ul>li>p{ overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
/*
option parallel
*/
.data-com ol li div>ul>li>ul.parallel>li{ padding:3px 3px;}
.data-com ol li div>ul>li>ul.parallel>li:nth-child(even){background-color:#F5F5F5;}
.data-com ol li div>ul>li>ul.parallel>li:nth-child(odd){background-color:#fff;}
.data-com ol li div>ul>li>ul.parallel>li:hover{background-color:#EDEBEB;}
.data-com ol li div>ul>li>ul.parallel>li:before{ display: inline-block;content: "+";color: #808080;padding:3px 1px;width:10px;font-weight: bold;}
.data-com ol li div>ul>li>ul.parallel>li.has{color:#BC080E;}
.data-com ol li div>ul>li>ul.parallel>li.active{color:#F70303;}
.data-com ol li div>ul>li>ul.parallel>li.has:before{ content: "-";color:#8B0608;}
.data-com ol li div>ul>li>ul.parallel>li.active:before{content: "~";}
/*
option note
*/
.data-com ol li div>ul>li>ul.note{ }
.data-com ol li div>ul>li>ul.note>li{ display:table;width:100%;border-spacing:1px 3px;border-bottom:0px solid #EBE9E9;}
.data-com ol li div>ul>li>ul.note>li:last-child{border:0;}
.data-com ol li div>ul>li>ul.note>li>p{display:table-cell; }
.data-com ol li div>ul>li>ul.note>li>p.add{ width:15px;}
.data-com ol li div>ul>li>ul.note>li>p.add:before{ display: block;color: #808080;font-size:12px;margin:2px;padding:2px;text-align: center;background-color: #FFFFFF;border-radius:1px;box-shadow:  0px 0px 1px 1px rgba(200,200,200,1.00);}
.data-com ol li div>ul>li>ul.note>li>p.add:hover:before{box-shadow: 0px 0px 1px 1px rgba(170,141,141,1.00);}
/*
.data-com ol li div>ul>li>ul.note>li>p.add{ width:12px;background-color: #FFFFFF;border-radius:2px; box-shadow:inset 0px 0px 1px 1px rgba(200,200,200,1.00);}
.data-com ol li div>ul>li>ul.note>li>p.add:hover{ box-shadow: inset 0px 0px 1px 1px rgba(170,141,141,1.00);-webkit-box-shadow: inset 0px 0px 1px 1px rgba(170,141,141,1.00);}
*/
.data-com ol li div>ul>li>ul.note>li>p.add:before { width: 12px;color: #F0F0F0;}
.data-com ol li div>ul>li>ul.note>li.active>p.add:before { color: #DB041F; }

.data-com ol li div>ul>li>ul.note>li>p.name{ max-width: 100px;font-size: 11px;color: #A7A7A7;}
.data-com ol li div>ul>li>ul.note>li.active>p.name{ color: #5B5959;}
.data-com ol li div>ul>li>ul.note>li.active>p.name:hover{color:#AC0306;}
/*
verse
*/
.data-com ol>li>ol>li>ol{padding:1%;margin:0px;}
.data-com ol>li>ol>li>ol>li{border:0;}
.data-com ol>li>ol>li>ol>li b{color:#9C0508;}
.data-com ol>li>ol>li>ol>li[data-verse]{font-size:115%;}
.data-com ol>li>ol>li>ol>li[data-verse]:before{display:inline-block;content:attr(data-verse);text-align:center;padding:3px 1px;margin-right:3px;font-size:13px;min-width:30px;line-height:13px;height:16px;color:#9D9D9D;}
.data-com ol>li>ol>li>ol>li[data-verse]:hover:before{color:#FB0105;}
.data-com ol>li>ol>li>ol>li[data-verse].active{color:#780406;}
.data-com ol>li>ol>li>ol>li[data-verse].active:before {color:#FB0105;}
.data-com ol>li>ol>li>ol>li[data-verse].active:after{position:absolute;display:block;pointer-events:none;content:"";width:0px;height:0px;vertical-align:middle;border:solid transparent;border-left-color:#FB0105;border-width:5px;left:-1%;top:4px;}
/*
title
*/
.data-com ol>li>ol>li>ol>li.title {font-weight:bold;font-size:120%;padding:2%;}
.data-com ol>li>ol>li>ol>li.title:after {font-size:14px;color:#3E3B3B;}
.data-com ol>li>ol>li>ol>li.title:after, 
.data-com ol>li>ol>li>ol>li.title:before{color:#989898;text-shadow:0px 0 1px rgba(193,190,191,0.30);font-size:14px;color:#3E3B3B;}
.data-com ol>li>ol>li>ol>li.title:before{left:0px;top:0;content:'“';}
.data-com ol>li>ol>li>ol>li.title:after{right:0;border:0;content:'”';}
/*
ref
*/
.data-com ol>li>ol>li>ol>li.ref {font-size:13px;padding:2% 0%;}
.data-com ol>li>ol>li>ol>li.ref a{display:inline-block;padding:1px 3px;color:#193BAA;cursor:default;}
.data-com ol>li>ol>li>ol>li.ref.active{padding:0%;}
.data-com ol>li>ol>li>ol>li.ref>ol{ font-size: 90%;margin: 2% 1%;padding: 1%;box-shadow: inset 0px 0px 1px 1px rgba(216,216,216,1.00);background-color: #FDFDFD;color: #686868;-webkit-box-shadow: inset 0px 0px 1px 1px rgba(216,216,216,1.00);}
.data-com ol>li>ol>li>ol>li.ref>ol li div{color:#909090;}
.data-com ol>li>ol>li>ol>li.ref>ol>li{border-left:1px solid #ECECEC;}
/*
conditional
*/
.data-com>ol:empty{display:none;}
.data-com>ol:last-child:not(.deactivate):not(.nobg){box-shadow:2px 0px 2px 0px rgba(213,213,213,0.70);}
.data-com>ol:first-child:not(.deactivate):not(.nobg){box-shadow:-2px 0px 2px 0px rgba(213,213,213,0.70);}
.data-com>ol:not(.deactivate):not(.nobg), .data-com.d1>ol:not(.deactivate):not(.nobg){background-color:rgba(255,255,255,1.00);box-shadow:0px 0px 1px 1px rgba(213,213,213,0.70);}
/*
NOTE
*/
.data-note>ol{}
.data-note>ol>li{background-color:rgba(255,255,255,1.00);box-shadow:0px 0px 1px 1px rgba(213,213,213,0.70);margin-bottom:1%;}
.data-note>ol>li:before{ position:absolute;font-size:25px;top:12px;left:2px;}
.data-note>ol>li:after{ font-size: 15px;content: attr(data-title);position: absolute;right:16px;top: 16px;color: #ABA7A7;}
.data-note>ol>li>div{ padding:17px 35px;outline: 0;cursor: default;font-size:13px;border-bottom: 0px solid #ECECEC;}
.data-note>ol>li.no>div{color:#776A6B;text-shadow:1px 0px 1px rgba(203,203,203,1.00);}
.data-note>ol>li>div:before, .data-note>ol>li>div:after{display:none;}
.data-note>ol>li.active>div{border-bottom:1px solid #ECECEC;}
.data-note>ol>li.active>div:before, .data-note>ol>li.active>div:after{display:block;}
.data-note>ol>li>div[contenteditable]{ cursor: text;color: #B8B6B6;}

.data-note>ol>li>span{ display: inline-block;position: absolute;top:14px;right: -5px;width: 20px;height: 20px;border-radius:2px;box-shadow:2px 0px 1px 0px rgba(213,213,213,0.70);background-color: #fff;}
.data-note>ol>li>span.delete{text-align:center;vertical-align: top;font-size:18px;}
.data-note>ol>li>span.delete:hover:before{color:#F40408;}

.data-note>ol>li.add{padding:17px 35px;color:#C1C1C1;outline:0;margin-bottom:0%;font-size:17px;}
.data-note>ol>li.add:before{ color: #CDCCCC;}
.data-note>ol>li.add.active{color:#6E6A6A;background-color:#F8F8F8;}
.data-note>ol>li.add:empty:after{content:"create new label";color:#CBCBCB;font-style:italic;font-size:17px;text-indent:40px;}
.data-note>ol>li.add:focus:after{content:"";}
.data-note>ol>li.add.active:focus{background-color:#FFFFFF;}
.data-note>ol>li>ol.norecord>li{ color: #B8B8B8;}
/*
LOOKUP

.data-com{display:table;width:100%;height:100%;max-width:100%;max-height:100%;border-collapse:separate;border-spacing:7px 7px;}
.data-com.d1{max-width:800px;margin-left:2%;}
.data-com.d2{max-width:1200px;margin-left:2%;}
@media screen and (max-width:400px){
	.row-bible li{display:block;}
	.row-bible li a{max-width:50px;}
	.data-book>ol{display:block;width:98%;}
}
@media screen and (max-width:820px){
    .data-com.d1{margin-left:0;}
}
@media screen and (max-width:1210px){
    .data-com.d2{margin-left:0;}
}
*/