@charset "utf-8";
#l189{position:fixed;width:100%;height:100%;padding:0;margin:0;background-color:#f6f5f5;}
#l189>div{display:table;width:100%;height:100%;}
#l189>div>div{display:table-row;height:20%;}
#l189>div>div:first-child{height:40%;}
#l189>div>div:last-child{height:40%;}
#l189>div>div>h1, #l189>div>div>p, #l189>div>div>ol{display:table-cell; position:relative;text-align:center;vertical-align:middle;}
#l189>div>div>h1{background-color:#FBFBFB;box-shadow:0px 1px 1px 0px #e0e0e0;color:#6B6A6A;text-shadow:0px 1px 1px #ccc;font-size:19pt;font-family:"Times New Roman", serif;text-transform:uppercase;}
/*
#l189>div>div>h1{padding-top:20px;}
#l189>div>div>h1:before{position:absolute;content:"";display:block;width:100%;height:20px;top:0;left:0;background-color:#f6f5f5;box-shadow:0px 1px 1px 0px #e0e0e0;}
*/
#l189>div>div>h1[title]:after{position:absolute;padding:2px 5px;display:inline-block;-webkit-transform:rotate(25deg);-ms-transform:rotate(25deg); transform:rotate(25deg);background-color:#FBFBFB;border-radius:2px;content:attr(title);font-size:11pt;box-shadow:inset 0px 0px 1px 1px #e0e0e0;color:#AAAAAA;text-shadow:0px 1px 1px #fff;}
#l189>div>div>h1:before{ font-size:20pt; color:#CD0B0E; vertical-align:middle;}
#l189>div>div>p{color:#978C8C;text-shadow:0px 1px 1px #ccc;font-size:12pt;}

#l189>div>div>ol{list-style:none;}
#l189>div>div>ol>li{color:#666;text-shadow:0px 1px 0px #ccc;font-size:13pt;}
#l189>div>div>ol>li[title]:before{content:attr(title);text-transform:uppercase;}