@charset "utf-8";
$Font: Arial, 'Myanmar3', Helvetica, sans-serif;
$FontSize: 100%;//11pt
$Color: #333;
$ColorBackground:#F8F8F8;
$WidthMobile:500px;
$WidthTablet:820px;
$WidthDesktop:1210px;
@mixin text-size-adjust($value: none) {
    -webkit-text-size-adjust: $value;
    -moz-text-size-adjust: $value;
    -ms-text-size-adjust: $value;
}
@mixin box-sizing($value: border-box) {
    // -webkit-box-sizing: $value;
    // -moz-box-sizing: $value;
    box-sizing: $value;
}
@mixin box-shadow($top, $right, $left, $blur, $color, $inset:"") {
    // -webkit-box-shadow:$top $right $left $blur $color #{$inset};
    // -moz-box-shadow:$top $right $left $blur $color #{$inset};
    box-shadow:$top $right $left $blur $color #{$inset};
}
@mixin user-select($value: none) {
    -webkit-user-select:$value;
    // -khtml-user-select:$value;
    // -moz-user-select:$value;
    // -ms-user-select:$value;
    // user-select:$value;
}
@mixin opacity($decimal:1){
    opacity: $decimal;
    $percent: $decimal * 100;
    filter:alpha(opacity=$percent);
    -ms-filter:"alpha(opacity=#{$percent})";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($percent)});
}
@mixin scrollbar($bar:10,$border:10,$color:#bdbdbd){
    ::-webkit-scrollbar { width:#{$bar}px;}
    ::-webkit-scrollbar-track {}
    ::-webkit-scrollbar-thumb { background-color:#{$color};border-top-left-radius:#{$border}px;border-top-right-radius:#{$border}px;border-bottom-right-radius:#{$border}px;border-bottom-left-radius:#{$border}px;}
    ::-webkit-scrollbar-thumb:window-inactive {background-color:#{$color};}
}
// inherit
// text-overflow:ellipsis;
// @-moz-document url-prefix() {}
// -webkit-overflow-scrolling:touch;overflow:auto;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
// help?
// todo? = adjust
// todo# = either remove or add
// &:before, &:after{
// }
// &:before{}
// &:after{}
