div{
    &#dialog{
        cursor:default;
        &.version{
            box-shadow:0px 0px 1px 1px #ccc;background-color:rgba(255,255,255,0.50);
            div{
                display:block;max-width:310px;margin:72px auto;padding:10px;box-shadow:0 0px 40px 1px #ccc;background-color:#F3F3F3;color:#6B6868;line-height:18px;border:1px solid #DFDFDF;
                font-family:Helvetica, Arial, sans-serif;
                a,span{
                    display:inline;padding-left:5px;
                }
                h1{
                    display:inline-block;padding:3px;font-size:105%;color:#9F9F9F;text-shadow:1px 0px 1px #fff;text-transform:uppercase;font-weight:normal;
                    &:after{
                        display:inline-block;content:attr(title);font-size:60%;position:absolute;top:0;left:99%;color:#B4B3B3;
                    }
                }
                h2{
                    padding:3px;font-size:70%;color:#828080;text-shadow:1px 0px 1px #fff;font-weight:normal;
                    &:before{
                        content:"Version:";color:#C4C1C1;
                    }
                }
                p{
                    padding:2%;font-size:75%;
                    span{
                        color:#A4A4A4;font-style: italic;
                        &:before{
                            content:"'";
                        }
                        &:after{
                            content:"'";
                        }
                    }
                    a{
                        color:#9E9E9E;text-decoration:underline;
                    }
                    &#by{
                        &:before{
                            top:0;content:"Written by";
                        }
                    }
                }
                div{
                    display:inline-block;font-size:90%;box-shadow:0 0px 1px 1px #666;margin:5px;padding:4px 15px;background-color:#FFFFFF;color:#929292;
                }
            }
        }
    }
}
