@import 'Config';
@font-face {
	font-family: 'Myanmar3';
	src: url('../fontmya/Myanmar3.eot'); /* IE9 Compat Modes */
	src: url('../fontmya/Myanmar3.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../fontmya/Myanmar3.woff') format('woff'), /* Modern Browsers */
	     url('../fontmya/Myanmar3.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../fontmya/Myanmar3.svg#Myanmar3') format('svg'); /* Legacy iOS */
	unicode-range: U+1000-109F, U+AA60-AA7B;
	font-weight: normal;
	font-style: normal;
}
@include scrollbar();
html{
	body{
		//font-family: Arial, 'Myanmar3', Helvetica, sans-serif;
	    a, form, .fO {
	        -webkit-app-region: no-drag;
	    }
	    footer{
	        -webkit-app-region:drag;
	    }
	    header{
	        div{
	            &.bar{
	                @extend footer;
	            }
	        }
	    }
		ol{
			&.Ov{
				li{
					-webkit-user-select: text;
				}
			}
		}
		&.working{
	        &.wait{
	            header{
					&:after{
						// @extend footer;
						// disabled due to misc function
					}
					>div {
						&.nav *{
							@extend footer;
						}
					}
	            }
	        }
	    }
	}
}
