@import 'config';
html{
    position:fixed;width:100%;height:100%;top:0;left:0;padding:0;margin:0;overflow:hidden;
    &.landscape{}
    &.portrait{}
}
// COMMON
// .hand{cursor:pointer;}
// .zO{cursor:default;}
// .ellipsis{text-overflow:ellipsis;overflow:hidden;max-width:10px;}
// .collapse-separate{border-collapse:separate;border-spacing:1px;}
// .box-shadow{@include box-shadow(0px, 0px, 0px, 10px, #c5c5c5);}
// .transparent{zoom:1;@include opacity(0.5);}
img{
    border:none;
}
a, span{
    // a, .fA, span
    text-decoration:none;
    outline:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent;
    -webkit-user-select:none;
    -webkit-touch-callout:none;
}
#dialog, header, .io, .fO{
    // -webkit-touch-callout:none;
    // text-decoration:none;
    // outline:none;
    // #dialog, .fA, header, .zO, .s, .option span, ul, .io, .no, .control
    cursor: default;
    @include user-select();
}
*{
    // padding:0;margin:0;
    &:not(body),&:not(header), &:not(main), &:not(footer), &:not(#dialog){
        // position:relative;
    }
    &:after, &:before{
        content:"";text-align:center;
        // pointer-events:none;width:0px;height:0px;//vertical-align:middle;//width:0px;height:0px;position:absolute;
    }
    &:after{}
    &:before{}
}
form{
    input{
        &[type="checkbox"]{
            &:disabled{
                opacity:0.3;
            }
        }
    }
    textarea{}
    select{}
    button{}
}
input{
    // -moz-appearance: textfield;
    // -moz-binding: url("chrome://global/content/platformHTMLBindings.xml#inputFields");
    // -moz-user-select: text;
    // background-color: -moz-field;
    // border: 2px inset threedface;
    // color: -moz-fieldtext;
    // cursor: text;
    // font: -moz-field;
    // letter-spacing: normal;
    // line-height: normal !important;
    // padding: 1px 0;
    // text-align: start;
    // text-indent: 0;
    // text-rendering: optimizelegibility;
    // text-shadow: none;
    // text-transform: none;
    // word-spacing: normal;
}
textarea{}
button{}
body {
    @extend html;
    font-family:$Font; color:$Color;font-size:$FontSize;
    background-color: $ColorBackground;
    >*{
        // div, header, main, footer
        position:fixed;width:100%;
        &:empty{
            display:none;
        }
        *{
            position:relative;padding:0;margin:0;
        }
        >div{
            >div{
            }
        }
    }
    >div, header, footer{
        left:0px;
    }
    >div{
        &#dialog{
            z-index:4;height:100%;top:0px;display:table;
            >div{
                text-align:center;vertical-align:middle;
            }
        }
    }
    header, main, footer{
        >div{
            >div{}
        }
    }
    header, footer{
        >div{
            display:table;width: 100%;
            >div{
                display:table-cell;vertical-align:middle;white-space:nowrap;
                >ul{
                    display: table;width: 100%;
                    >li{
                        display:table-cell;
                    }
                }
            }
        }
    }
    header{
        z-index:3;top:0px;
        >div{
            &.bar{
                // z-index:4;//required for working.wait!
                overflow: hidden;
                &.logo{}
                &.tab{}
                &.name{}
                &.misc{}
            }
            &.nav{
                &:before{
                    background-color: inherit;display:block;position:absolute;width:100%;height:0px;
                }
                &.dig{}
                &.ctl{}
            }
            div{
                &.logo{}
                &.name{}
                &.misc{}
                &.tab{}
                &.dig{}
                &.ctl{}
                ul{
                    li{
                        ul{
                            li{}
                        }
                    }
                }
            }
        }
    }
    main{
        z-index:1;max-height:100%;overflow:hidden;
        >div{
            &.container, &.active{
                max-height:100%;-webkit-overflow-scrolling:touch;overflow:auto;
                @include text-size-adjust(100%);
                @include box-sizing();
            }
            &.active{
                height:100%;
            }
            &:not(.active){
                display: none;
            }
        }
    }
    footer{
        z-index:2;bottom:0px;
    }
    // SPLASH
    &#l189{
        background-color:#f6f5f5;
        div{
            display:table;width:100%;height:100%;border-collapse: separate; border-spacing:0px 0;
            div{
                display:table-row;height:20%;
                &:first-child{
                    height:40%;
                }
                &:last-child{
                    height:40%;
                }
                >*{
                    display:table-cell;text-align:center;vertical-align:middle;
                }
                h1{
                    font-family:"Times New Roman", serif;font-size:19pt;color:#6B6A6A;text-transform:uppercase;text-shadow:0px 1px 1px #ccc;
                    background-color:#FBFBFB;box-shadow:0px 1px 1px 0px #e0e0e0;
                    &[title]{
                        &:after{
                            position:absolute;padding:2px 5px;display:inline-block;background-color:#FBFBFB;border-radius:2px;
                            content:attr(title);font-size:11pt;color:#AAAAAA;text-shadow:0px 1px 1px #fff;
                            -webkit-transform:rotate(25deg);-ms-transform:rotate(25deg);transform:rotate(25deg);
                            @include box-shadow(inset, 0px, 0, 1px, 1px, #e0e0e0);
                        }

                    }
                    &:before{
                        font-size:18pt;//color:#CD0B0E;//vertical-align:top;
                    }
                }
                p{
                    font-size:12pt;color:#978C8C;text-shadow:0px 1px 1px #ccc;
                }
                ol{
                    list-style:none;
                    li{
                        font-size:13pt;color:#666;text-shadow:0px 1px 0px #ccc;
                        &[title]{
                            &:before{
                                content:attr(title);text-transform:uppercase;
                            }
                        }
                    }
                }
            }
        }
        > * {
            // NOTE: only for testing
            display: none;
        }
    }
    // conditional
    &.fullscreen{}
    // conditional
    &.working{
        footer{
            &:after{
                display:block;position:absolute;top:0px;bottom:0px;pointer-events:auto;
            }
        }
        main{
            div{
                &.container{
                    display:block;text-align: center;z-index:10; margin:0px 0;padding:10px 2%;line-height:18px;box-shadow: 0px 1px 1px 1px #e0e0e0;//background-color:rgba(255,255,255,0.95);
                }
                &:not(.container){
                    overflow:hidden;
                    &:after{
                        @extend footer:after;
                    }
                }
            }
        }
        header{
            &:after{
                @extend footer:after;
            }
        }
        &.wait, &.disable{
            footer{
                &:after{
                    z-index:3;left:0px;width:100%;height:100%;max-height:100%;cursor: default;//@include user-select();
                }
            }
            main{
                >div{
                    &:not(.container){
                        //@include user-select();
                        &:after{
                            // NOTE: why?
                            //position:fixed;
                        }
                    }
                }
            }
        }
        &.wait{
            footer{
                &:after{
                    background-color:rgba(246,245,245,0.50);
                }
            }
            main{
                >div{
                    &.container{
                        box-shadow: 0px 0px 1px 1px #e0e0e0;background-color:rgba(255,255,255,0.95);
                    }
                }
            }
            header{
                &:after{
                    box-shadow:inset 1px 0px 1px 1px #e0e0e0;
                }
            }
        }
        &.disable{
            footer{
                &:after{
                    background-color:rgba(246,245,245,0.60);
                }
            }
            main{
                >div{
                    &.container{
                        margin: 1%;box-shadow: 0px 0px 0px 0px #e0e0e0;background-color:rgba(255,255,255,0);
                    }
                }
            }
        }
    }
}
