@font-face {
  font-family: 'Myanmar3';
  src: url("../fontmya/Myanmar3.eot");
  /* IE9 Compat Modes */
  src: url("../fontmya/Myanmar3.eot?#iefix") format("embedded-opentype"), url("../fontmya/Myanmar3.woff") format("woff"), url("../fontmya/Myanmar3.ttf") format("truetype"), url("../fontmya/Myanmar3.svg#Myanmar3") format("svg");
  /* Legacy iOS */
  unicode-range: U+1000-109F, U+AA60-AA7B;
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: #bdbdbd;
}
