html, body {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

img {
  border: none;
}

a, span {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

#dialog, header, .io, .fO {
  cursor: default;
  -webkit-user-select: none;
}

*:after, *:before {
  content: "";
  text-align: center;
}

form input[type="checkbox"]:disabled {
  opacity: 0.3;
}

body {
  font-family: Arial, "Myanmar3", Helvetica, sans-serif;
  color: #333;
  font-size: 100%;
  background-color: #F8F8F8;
}

body > * {
  position: fixed;
  width: 100%;
}

body > *:empty {
  display: none;
}

body > * * {
  position: relative;
  padding: 0;
  margin: 0;
}

body > div, body header, body footer {
  left: 0px;
}

body > div#dialog {
  z-index: 4;
  height: 100%;
  top: 0px;
  display: table;
}

body > div#dialog > div {
  text-align: center;
  vertical-align: middle;
}

body header > div, body footer > div {
  display: table;
  width: 100%;
}

body header > div > div, body footer > div > div {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}

body header > div > div > ul, body footer > div > div > ul {
  display: table;
  width: 100%;
}

body header > div > div > ul > li, body footer > div > div > ul > li {
  display: table-cell;
}

body header {
  z-index: 3;
  top: 0px;
}

body header > div.bar {
  overflow: hidden;
}

body header > div.nav:before {
  background-color: inherit;
  display: block;
  position: absolute;
  width: 100%;
  height: 0px;
}

body main {
  z-index: 1;
  max-height: 100%;
  overflow: hidden;
}

body main > div.container, body main > div.active {
  max-height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
}

body main > div.active {
  height: 100%;
}

body main > div:not(.active) {
  display: none;
}

body main > div.container > ul {
  list-style: none;
}

body main > div > div > ol, body main > div > div > ul {
  list-style: none;
}

body footer {
  z-index: 2;
  bottom: 0px;
}

body#l189 {
  background-color: #f6f5f5;
}

body#l189 div {
  display: table;
  width: 100%;
  height: 100%;
  border-collapse: separate;
  border-spacing: 0px 0;
}

body#l189 div div {
  display: table-row;
  height: 20%;
}

body#l189 div div:first-child {
  height: 40%;
}

body#l189 div div:last-child {
  height: 40%;
}

body#l189 div div > * {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

body#l189 div div h1 {
  font-family: "Times New Roman", serif;
  font-size: 19pt;
  color: #6B6A6A;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px #ccc;
  background-color: #FBFBFB;
  box-shadow: 0px 1px 1px 0px #e0e0e0;
}

body#l189 div div h1[title]:after {
  position: absolute;
  padding: 2px 5px;
  display: inline-block;
  background-color: #FBFBFB;
  border-radius: 2px;
  content: attr(title);
  font-size: 11pt;
  color: #AAAAAA;
  text-shadow: 0px 1px 1px #fff;
  -webkit-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
  box-shadow: inset 0px 0 1px 1px #e0e0e0;
}

body#l189 div div h1:before {
  font-size: 18pt;
}

body#l189 div div p {
  font-size: 12pt;
  color: #978C8C;
  text-shadow: 0px 1px 1px #ccc;
}

body#l189 div div ol {
  list-style: none;
}

body#l189 div div ol li {
  font-size: 13pt;
  color: #666;
  text-shadow: 0px 1px 0px #ccc;
}

body#l189 div div ol li[title]:before {
  content: attr(title);
  text-transform: uppercase;
}

body#l189 > * {
  display: none;
}

body.working footer:after, body.working main div:not(.container):after, body.working header:after {
  display: block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  pointer-events: auto;
}

body.working main div.container {
  display: block;
  text-align: center;
  z-index: 10;
  margin: 0px 0;
  padding: 10px 2%;
  line-height: 18px;
  box-shadow: 0px 1px 1px 1px #e0e0e0;
}

body.working main div:not(.container) {
  overflow: hidden;
}

body.working.wait footer:after, body.working.wait main div:not(.container):after, body.working.wait header:after, body.working.disable footer:after, body.working.disable main div:not(.container):after, body.working.disable header:after {
  z-index: 3;
  left: 0px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  cursor: default;
}

body.working.wait footer:after, body.working.wait main div:not(.container):after, body.working.wait header:after {
  background-color: rgba(246, 245, 245, 0.5);
}

body.working.wait main > div.container {
  box-shadow: 0px 0px 1px 1px #e0e0e0;
  background-color: rgba(255, 255, 255, 0.95);
}

body.working.wait header:after {
  box-shadow: inset 1px 0px 1px 1px #e0e0e0;
}

body.working.disable footer:after, body.working.disable main div:not(.container):after, body.working.disable header:after {
  background-color: rgba(246, 245, 245, 0.6);
}

body.working.disable main > div.container {
  margin: 1%;
  box-shadow: 0px 0px 0px 0px #e0e0e0;
  background-color: rgba(255, 255, 255, 0);
}
