@font-face {
  font-family: "Masterpiece Uni Sans";
  src: url("../fonts/MasterpieceUniSans-iOS.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html.portrait header {
  border-top: 20px solid #E5E5E5;
}

html.portrait #l189 div div h1 {
  padding-top: 20px;
}

html.portrait #l189 div div h1:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #f6f5f5;
  box-shadow: inset 0px 1px 0px 0px #e0e0e0;
}

html body {
  font-family: Arial,'Masterpiece Uni Sans',Helvetica,sans-serif;
}
