@font-face {
  font-family: 'laisiangtho';
  src: url('laisiangtho.eot?98827844');
  src: url('laisiangtho.eot?98827844#iefix') format('embedded-opentype'),
       url('laisiangtho.woff?98827844') format('woff'),
       url('laisiangtho.ttf?98827844') format('truetype'),
       url('laisiangtho.svg?98827844#laisiangtho') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'laisiangtho';
    src: url('../font/laisiangtho.svg?98827844#laisiangtho') format('svg');
  }
}
*/
.ico:before, [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "laisiangtho";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-size:13pt;
  color:#8C8C8C;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-verse:before { content: '\e800'; } /* '' */
.icon-doc:before { content: '\e801'; } /* '' */
.icon-next:before { content: '\e802'; } /* '' */
.icon-previous:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-bible:before { content: '\e806'; } /* '' */
.icon-note:before { content: '\e807'; } /* '' */
.icon-menu:before { content: '\e808'; } /* '' */
.icon-setting:before { content: '\e809'; } /* '' */
.icon-panel:before { content: '\e80a'; } /* '' */
.icon-chapter:before { content: '\e80b'; } /* '' */
.icon-text:before { content: '\e80c'; } /* '' */
.icon-ok:before { content: '\e80d'; } /* '' */
.icon-cancel:before { content: '\e80e'; } /* '' */
.icon-right:before { content: '\e80f'; } /* '' */
.icon-wrong:before { content: '\e810'; } /* '' */
.icon-info:before { content: '\e811'; } /* '' */
.icon-calendar:before { content: '\e812'; } /* '' */
.icon-flag:before { content: '\e813'; } /* '' */
.icon-cross:before { content: '\e814'; } /* '' */
.icon-language:before { content: '\e815'; } /* '' */
.icon-bookmarks:before { content: '\e816'; } /* '' */
.icon-list:before { content: '\e817'; } /* '' */
.icon-fire:before { content: '\e818'; } /* '' */
.icon-screen-full:before { content: '\e819'; } /* '' */
.icon-screen-small:before { content: '\e81a'; } /* '' */
.icon-logout:before { content: '\e81b'; } /* '' */
.icon-up:before { content: '\e81c'; } /* '' */
.icon-down:before { content: '\e81d'; } /* '' */
.icon-down-open:before { content: '\e81e'; } /* '' */
.icon-up-open:before { content: '\e81f'; } /* '' */
.icon-back:before { content: '\e820'; } /* '' */
.icon-bookmark:before { content: '\e821'; } /* '' */
.icon-code:before { content: '\e822'; } /* '' */
.icon-cw:before { content: '\e823'; } /* '' */
.icon-ccw:before { content: '\e824'; } /* '' */
.icon-map:before { content: '\e825'; } /* '' */
.icon-pin:before { content: '\e826'; } /* '' */
.icon-edit:before { content: '\e827'; } /* '' */
.icon-article:before { content: '\e828'; } /* '' */
.icon-trash:before { content: '\e829'; } /* '' */
.icon-location:before { content: '\e82a'; } /* '' */
.icon-paper:before { content: '\e82b'; } /* '' */
.icon-tag:before { content: '\e82c'; } /* '' */
.icon-book:before { content: '\e82d'; } /* '' */
.icon-maximize:before { content: '\e82e'; } /* '' */
.icon-popup:before { content: '\e82f'; } /* '' */
.icon-minus:before { content: '\e830'; } /* '' */
.icon-message:before { content: '\e831'; } /* '' */
.icon-minimize:before { content: '\e832'; } /* '' */
.icon-close:before { content: '\e833'; } /* '' */
.icon-cloud:before { content: '\e834'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e835'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e836'; } /* '' */
.icon-login:before { content: '\e837'; } /* '' */
.icon-database:before { content: '\e838'; } /* '' */
.icon-config:before { content: '\e839'; } /* '' */
.icon-dot3:before { content: '\e83a'; } /* '' */
