
.icon-verse:before { content: '\e800'; } /* '' */
.icon-doc:before { content: '\e801'; } /* '' */
.icon-next:before { content: '\e802'; } /* '' */
.icon-previous:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-bible:before { content: '\e806'; } /* '' */
.icon-note:before { content: '\e807'; } /* '' */
.icon-menu:before { content: '\e808'; } /* '' */
.icon-setting:before { content: '\e809'; } /* '' */
.icon-panel:before { content: '\e80a'; } /* '' */
.icon-chapter:before { content: '\e80b'; } /* '' */
.icon-text:before { content: '\e80c'; } /* '' */
.icon-ok:before { content: '\e80d'; } /* '' */
.icon-cancel:before { content: '\e80e'; } /* '' */
.icon-right:before { content: '\e80f'; } /* '' */
.icon-wrong:before { content: '\e810'; } /* '' */
.icon-info:before { content: '\e811'; } /* '' */
.icon-calendar:before { content: '\e812'; } /* '' */
.icon-flag:before { content: '\e813'; } /* '' */
.icon-cross:before { content: '\e814'; } /* '' */
.icon-language:before { content: '\e815'; } /* '' */
.icon-bookmarks:before { content: '\e816'; } /* '' */
.icon-list:before { content: '\e817'; } /* '' */
.icon-fire:before { content: '\e818'; } /* '' */
.icon-screen-full:before { content: '\e819'; } /* '' */
.icon-screen-small:before { content: '\e81a'; } /* '' */
.icon-logout:before { content: '\e81b'; } /* '' */
.icon-up:before { content: '\e81c'; } /* '' */
.icon-down:before { content: '\e81d'; } /* '' */
.icon-down-open:before { content: '\e81e'; } /* '' */
.icon-up-open:before { content: '\e81f'; } /* '' */
.icon-back:before { content: '\e820'; } /* '' */
.icon-bookmark:before { content: '\e821'; } /* '' */
.icon-code:before { content: '\e822'; } /* '' */
.icon-cw:before { content: '\e823'; } /* '' */
.icon-ccw:before { content: '\e824'; } /* '' */
.icon-map:before { content: '\e825'; } /* '' */
.icon-pin:before { content: '\e826'; } /* '' */
.icon-edit:before { content: '\e827'; } /* '' */
.icon-article:before { content: '\e828'; } /* '' */
.icon-trash:before { content: '\e829'; } /* '' */
.icon-location:before { content: '\e82a'; } /* '' */
.icon-paper:before { content: '\e82b'; } /* '' */
.icon-tag:before { content: '\e82c'; } /* '' */
.icon-book:before { content: '\e82d'; } /* '' */
.icon-maximize:before { content: '\e82e'; } /* '' */
.icon-popup:before { content: '\e82f'; } /* '' */
.icon-minus:before { content: '\e830'; } /* '' */
.icon-message:before { content: '\e831'; } /* '' */
.icon-minimize:before { content: '\e832'; } /* '' */
.icon-close:before { content: '\e833'; } /* '' */
.icon-cloud:before { content: '\e834'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e835'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e836'; } /* '' */
.icon-login:before { content: '\e837'; } /* '' */
.icon-database:before { content: '\e838'; } /* '' */
.icon-config:before { content: '\e839'; } /* '' */
.icon-dot3:before { content: '\e83a'; } /* '' */